.GlassesDetail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.heading {
  font-size: 1.5rem;
  font-weight: 500;
}

.price {
  display: inline-block;
  background-color: #e83e41;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.stock {
  color: rgb(0, 182, 0);
  font-size: 18px;
  font-weight: 500;
}
